* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Libre Baskerville", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f6f7f2;
  color: #333;
  line-height: 1.6;
  overflow-x: hidden;
}

.banner-maca {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 240px;
  background: linear-gradient(120deg, #a8be7c, #9db668);
  text-align: center;
  color: #404040;
  overflow: hidden;
}

.banner-maca h1 {
  font-size: 2.4rem;
  font-weight: 600;
  z-index: 2;
  letter-spacing: 1px;
}

.banner-maca img {
  position: absolute;
  opacity: 0.2;
  width: 350px;
  height: auto;
  z-index: 1;
  right: 57%;
}

.imagem-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 8%;
  gap: 30px;
  text-align: left;
}

.imagem-texto img {
  width: 400px;
  max-width: 600px;
  height: auto;
  border-radius: 14px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.12);
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imagem-texto img:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.imagem-texto .texto {
  max-width: 800px;
  font-size: 16px;
  line-height: 1.8;
  color: #333;
}

.imagem-texto .texto p {
  margin: 12px 0;
  text-align: justify;
}

.subtitulos {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 18px;
  position: relative;
}

.subtitulos::after {
  content: "";
  display: block;
  margin-top: 6px;
  border-radius: 2px;
  width: 30px;
  height: 2px;
  background-color: #9db668;
  opacity: 0.6;
}


.topicos {
  font-size: 15px;
  margin-left: 30px;
  list-style-type: disc;
}

ol,
ul {
  padding-left: 20px;
}

.agendar-servico {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.agendar-servico button {
  margin-top: 15px;
  width: 260px;
  height: 45px;
  background: linear-gradient(90deg, #7e0000 0%, #a80000 100%);
  color: white;
  font-weight: 550;
  border: none;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.agendar-servico button:hover {
  background: linear-gradient(90deg, #a80000 0%, #7e0000 100%);
  box-shadow: 0 0 15px rgba(126, 0, 0, 0.5);
  transform: translateY(-3px);
}


@media (max-width: 992px) {
  .banner-reflexologia h1 {
    font-size: 2rem;
  }

  .imagem-texto {
    padding: 40px 5%;
  }

  .imagem-texto img {
    max-width: 100%;
  }

  .imagem-texto .texto {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .banner-maca {
    height: 200px;
  }

  .banner-maca h1 {
    font-size: 1.8rem;
  }

  .imagem-texto {
    padding: 30px 4%;
  }

  .imagem-texto .texto {
    font-size: 15px;
  }
}