* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.banner-sobre-nos {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #a8be7c;
  overflow: hidden;
}

.banner-sobre-nos h1 {
  font-size: 2.5em;
  color: #404040;
  z-index: 2;
}

.banner-sobre-nos img {
  position: absolute;
  opacity: 0.3;
  width: 300px;
  height: auto;
  z-index: 1;
  margin-right: 300px;
  color: black;
}

.imagem-texto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px 20px;
  flex-wrap: wrap;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  padding: 1px;
  margin: 25px;
  text-indent: 25px;
  line-height: 1.2;
  hyphens: auto;
}

.imagem-texto .texto {
  max-width: 600px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  padding: 25px;
}

.imagem-texto .texto p {
  margin: 8px 0;
  padding: 0;
  text-indent: 5;
  font-size: 15px;
}
