* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.secao-maca {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 60px 20px;
    background-color: #9db668;
    gap: 20px;
}

.secao-maca img.icone {
    width: 70px;
    height: 70px;
    vertical-align: middle;
}

.secao-maca h1 {
    color: #404040;
    font-family: "Libre Baskerville", serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    line-height: 2;
    margin-left: -55px;
    margin-top: 10px;
}

.secao-maca {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.secao-maca img {
    width: 26px;
    height: 26px;
    vertical-align: middle;
}

.secao-maca h1 {
    color: #404040;
    font-family: "Libre Baskerville", serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    line-height: 2;
}

.imagem-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px 20px;
    flex-wrap: wrap;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-indent: 25px;
    hyphens: auto;
}

.curiosidades {
    font-size: 18px;
    padding-bottom: 10px;
}

.topicos {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    padding: 7px;
}

#primeiro-topico {
    padding: 10px;
}

#segundo-topico {
    padding-bottom: 10px;
}

#terceiro-topico {
    padding-bottom: 10px;
}

.secao-maca img.icone {
    width: 70px;
    height: 70px;
    vertical-align: middle;
}

.secao-maca h1 {
    margin-left: -55px;
    margin-top: 10px;
}

.secao-maca {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 60px 20px;
    background-color: #9db668;
    gap: 20px;
}

.imagem-texto .texto {
    max-width: 600px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    padding: 25px;
}

.imagem-texto .texto p {
    margin: 8px 0;
    padding: 0;
    text-indent: 5;
    font-size: 15px;
}